<%- include("includes/head.ejs") %>
<%- include("includes/nav.ejs") %>
<main>
    <form class="product-form" action="/admin/add-product" method="POST">
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" name="title" id="title">
        </div>

        <button class="btn" type="submit">Add Product</button>
    </form>
</main>
<%- include("includes/end.ejs") %>